
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset='utf-8'>
        <title>Page Not Found</title>
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/style.css">

        <style>
            footer{
                margin-top: 32%;
            }
        </style>

    </head>

    <body>
        {{>header}}
        
        <h3 style="color: #ff7979; text-align: center; font-size: 50px">{{messageError}}</h3>

        {{>footer}}

    </body>
</html>
