
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Weather About</title>
        <meta name="author" content="Pedro Luiz">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="./css/normalize.css">
        <link rel="stylesheet" href="./css/style.css">

    </head>
    {{>header}}

    <h2 style="margin-top: 1.54em;">It used data from www.mapbox.com and www.weatherstack.com</h2>
    
    <section>
        <img src="./img/chaves.jpg">
        <p> <b> Imagination is more important than knowledge </b> </p>
        <p>Albert Einstein</p>
    </section>

    {{>footer}}

    </body>

</html>
