
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Weather Help</title>
    <meta name="author" content="Pedro Luiz">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">

    <style>
        footer{
            margin-top: 28%;
        }
        h2{
            margin-top: 14%;
        }
    </style>

</head>

<body>
    {{!-- O sinal de > indica o carregamento de um arquico parcial (Apenas o nome) --}}
    {{>header}}

    <h2>Insert name the location of find the weather!!</h2>

    {{>footer}}

</body>

</html>
