
<div class="div-atalhos">
    <a style="margin-right: 35%; color: #30336b;"> {{title}} </a>
    <a href="/"> Weather </a>
    <a href="/about"> About </a>
    <a href="/help"> Help </a>
</div>

<hr>
